<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="exampleInputEmail1">First Name</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter First Name"
                        formControlName="firstName">
                    <div *ngIf="form.firstName.errors && submitted">
                        <div *ngIf="form.firstName.errors.required" class="error">First Name is Required</div>
                        <div *ngIf="form.firstName.errors.minlength" class="error">First Name must have 3 chracters</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Last Name</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter Last Name"
                        formControlName="lastName">
                    <div *ngIf="form.lastName.errors && submitted">
                        <div *ngIf="form.lastName.errors.required" class="error">Last Name is Required</div>
                        <div *ngIf="form.lastName.errors.minlength" class="error">Last Name must have 3 chracters</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter Email"
                        formControlName="email">
                    <div *ngIf="form.email.errors && submitted">
                        <div *ngIf="form.email.errors.required" class="error">Email is Required</div>
                        <div *ngIf="form.email.errors.domain" class="error">Email domain must be gmail.com</div>
                    </div>
                </div>
                <div formGroupName="address">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Street</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter Street No." formControlName="street">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">City</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter City Name" formControlName="city">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">State</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter state Name" formControlName="state">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Zip Code</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter Zip Code" formControlName="zip">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>