<div class="col-md-4"></div>
<div class="container-fluid">
    <div class="row">
            <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1>{{title}}</h1>
            <app-pdf-viewer></app-pdf-viewer>
        </div>
        <div class="col-md-4"></div>
    </div>
    <app-reactive-form></app-reactive-form>
    
</div>